<section class="s-container rounded-3 shadow-sm">
    <div class="row container">
        <h1>Acerca De</h1>
        <div class="col-12 col-md-4 col-lg-3" id="about-me">
            <div class="row">
                <img src="https://avatars.githubusercontent.com/u/24610432?s=400&amp;v=4" id="profile-pic" alt="GitHub Profile Photo">
            </div>
        </div>
        <div class="col-12 col-md-8 col-lg-9">

            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, voluptatum voluptatibus consectetur, aperiam ex iste est delectus animi totam repellat, reiciendis aut minima esse nostrum quos soluta aliquid nesciunt quia.</p>
        </div>
    </div>
</section>
<section class="s-container rounded-3 shadow-sm">
    <div class="row container" id="skills">
        <h1 class="title">Habilidades</h1>
        <div class="col-md-12 col-lg-6">
            <h2 class="subtitle">Habilidades Duras</h2>
            <div class="card-container">
                <app-card-component *ngFor="let card of hardSkillsCards" [cardTitle]="card['title']" [cardPercentage]="card['percentage']" [faClass]="card['class']"></app-card-component>
            </div>
        </div>
        <div class="col-md-12 col-lg-6">
            <h2 class="subtitle">Habilidades Blandas</h2>
            <div class="card-container">
                <app-card-component *ngFor="let card of softSkillsCards" [cardTitle]="card['title']" [cardPercentage]="card['percentage']" [faClass]="card['class']"></app-card-component>
            </div>
        </div>
    </div>
</section>
