#profile-pic{
    width: 250px;
    height: auto;
}


#skills{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.title, .subtitle{
    margin-bottom: 1rem;
}

#menu{
    width: fit-content;
    height: fit-content;
}
