<section class="bg-light shadow rounded bg--primary text-light row m-5 p-5">
    <h1>Contáctame</h1>
    <form>
      <div class="row form-group m-2">
        <label for="inputEmail">Dirección de Correo</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
      </div>
      <div class="row form-group m-2">
        <label for="inputName">Nombre</label>
        <input type="text" class="form-control" id="inputName" placeholder="Nombre">
      </div>
      <div class="row form-group m-2">
        <label for="formControlTextarea">Mensaje</label>
        <textarea class="form-control text-area" id="formControlTextarea" placeholder="Contenido..."></textarea>
      </div>
      <button type="submit" class="btn btn-primary m-2 row">Enviar</button>
    </form>
  </section>