<div class="s-container row rounded-3 shadow-sm">
  <h1 class="row">Contáctame</h1>
  <form class="row">
    <div class="row form-group mt-2">
      <label for="inputEmail">Dirección de Correo</label>
      <input type="email" class="form-control" id="inputEmail" placeholder="name@example.com">
    </div>
    <div class="row form-group mt-2">
      <label for="inputName">Nombre</label>
      <input type="text" class="form-control" id="inputName" placeholder="Nombre">
    </div>
    <div class="row form-group mt-2">
      <label for="formControlTextarea">Mensaje</label>
      <textarea class="form-control text-area" id="formControlTextarea" placeholder="Contenido..."></textarea>
    </div>
    <div class="row">
      <button type="submit" class="mt-4" id="contact-btn">Enviar</button>
    </div>
  </form>
</div>