<section class="container row m-5">
    <h1>Habilidades</h1>
    <div class="col-md">
      <h3>Habilidades Duras</h3>
      <div class="card m-2">
        <div class="card-body row">
          <div class="d-flex col-2 justify-content-center">
              <i class="fa-brands fa-html5 fa-3x"></i>
            </div>
            <div class="col">
            <div class="col">
              <h5 class="card-title col">HTML</h5>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="HTML" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body row">
            <div class="d-flex col-2 justify-content-center">
              <i class="fa-brands fa-css3-alt fa-3x"></i>
            </div>
            <div class="col">
            <div class="col">
              <h5 class="card-title col">CSS</h5>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="CSS" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body row">
            <div class="d-flex col-2 justify-content-center">
              <i class="fa-brands fa-js fa-3x"></i>
            </div>
            <div class="col">
            <div class="col">
              <h5 class="card-title col">JavaScript</h5>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="JavaScript" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md">
      <h3>Habilidades Blandas</h3>
      <div class="card m-2">
        <div class="card-body row">
          <div class="d-flex col-2 justify-content-center">
              <i class="fa-solid fa-lightbulb fa-3x"></i>
            </div>
            <div class="col">
              <div class="col">
                <h5 class="card-title col">Resolución de Problemas</h5>
              </div>
              <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="Resolución de Problemas" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body row">
          <div class="d-flex col-2 justify-content-center">
              <i class="fa-solid fa-comment fa-3x"></i>
            </div>
            <div class="col">
            <div class="col">
              <h5 class="card-title col">Comunicación</h5>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Comunicacion" style="width: 40%" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="card m-2">
        <div class="card-body row">
          <div class="d-flex col-2 justify-content-center" open>
              <i class="fa-solid fa-ruler fa-3x"></i>
            </div>
            <div class="col">
            <div class="col">
              <h5 class="card-title col">Diseño de Sistemas</h5>
            </div>
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-label="Diseño de Sistemas" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
