.a-container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

app-nav-bar, app-footer{
  margin: 0px!important;
}
app-nav-bar{
  flex: 0 0 auto;
}
app-main{
  height: 100%;
}
main{
  flex:1 1 auto;
}

app-footer{
  z-index: 9999;
  flex: 0 0 auto;
}

.title{
  margin-bottom: 1em;
}
