<div class="row card justify-content-center align-items-center">
    <div class="row">
        <div class="d-flex col-2 justify-content-center">
            <i class="{{faClass}} fa-3x"></i>
        </div>
        <div class="col">
            <h5 class="card-title col">{{cardTitle}}</h5>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-label="HTML" style="width: {{cardPercentage}}%" [attr.aria-valuenow]="cardPercentage" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
</div>