button.btn-main{
    background-color: transparent;
    color:var(--action-color);
    font-weight: var(--font-weight-bold);
    border:2px solid var(--action-color);
    width: 256px;
    font-size: 1em;
    transition: background-color .5s;
    margin: auto;
    padding: 8px;
}

button.btn-main:hover{
    background-color: var(--action-color);
    color: var(--primary-color);
}
