/*
Box styling
*/
#banner{
    background-image: url('/assets/hero.png');
    background-position: center;
    height: 440px;
    width:100%;
    position: relative;
}


#about-me{
    padding-top: 1em;
}

.user-title{
    font-size: 1em;
    text-align: center;
}


.dark-gradient{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.5) 100%);
}

/*
    Profile picture
*/
#profile-image{
    border-radius: 50%;
    height: 160px;
    width: 160px;
    overflow: hidden;
    border:5px solid var(--secondary-color);
}


/*
Introduction section
*/
h1.big-text, span.intro-text{
    color:var(--secondary-color)!important;
}

h1.big-text{
    font-size: 6.5em!important;
    width: auto;
}

span.intro-text{
    font-weight: 300!important;
    font-size: 2.5em;
}

/*
Contact Btn
*/

button#contact-btn{
    background-color: transparent;
    color:var(--secondary-color);
    font-weight: var(--font-weight-bold);
    background-color: var(--action-color);
    border:2px solid var(--action-color);
    width: 200px;
    height: 56px;
    font-size: 1em;
    transition: background-color .5s;
    border-radius: 5px;
}

button#contact-btn:hover{
    background-color: transparent;
}

/*
Responsive
*/

@media (max-width: 770px) {
    span.intro-text{
        font-size: 1.5em!important;
    }
    h1.big-text{
        font-size: 4.5em!important;
    }
}
@media (max-width: 515px) {
    h1.big-text{
        font-size: 3.5em!important;
    }
}