<div class="row" id="banner">
  <div class="dark-gradient">
  </div>
</div>
<div class="row" id="about-me">
  <div class="col-3 row justify-content-center align-items-center">
    <div class="row justify-content-center">
      <img src="https://avatars.githubusercontent.com/u/24610432?s=400&amp;v=4" id="profile-image" alt="GitHub Profile Photo">
    </div>
    <div class="row">
      <span class="user-title">Full Stack Developer Jr</span>
    </div>
  </div>
  <div class="col">
    <h1>Acerca de</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sed, magnam veniam ex saepe excepturi corporis! Aspernatur dignissimos culpa accusamus placeat quod a officia ratione sunt. Vel quae ipsum quaerat.
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore perspiciatis porro, sint quidem omnis sed quas modi dolorem ea beatae vel perferendis minus cum eos quos repudiandae unde repellat veritatis!</p>
  </div>
</div>
