:root{
    --primary-color:#F3F3F3;
    --secondary-color: #3A4750;
    --action-color: #2185D5;
    --font-weight-medium:500;
    --font-weight-bold:700;
}
* {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
*, *:before, *:after {
    
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -ms-box-sizing: border-box !important;
    box-sizing: border-box !important;
  }
/*Body's and html styles*/
html, body{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100vh;
}
html{
    width: 100vw;
}
body{
    overflow-x: hidden;
}

body{
    background-color: var(--primary-color)!important;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }

/* 
Headings and pagraphs default settings
*/
h1, h2{
    font-family: 'Exo', sans-serif!important;
}
h1, h2, h3, h4, h5, h6, span, p{
    font-family: 'Montserrat', sans-serif;
}
h2, h3, h4, h5, h6{
    font-weight: var(--font-weight-medium)!important;
}
h1{
    font-weight: var(--font-weight-bold)!important;
    color: var(--secondary-color);
}
h2{
    color: #000!important;
    font-weight: var(--font-weight-medium);
    
}
h5{
    margin: 0;
}

span{
    font-size: 2em;
    font-weight: 700;
}

app-main{
    width: 100%;
}

app-page-not-found{
    margin: auto;
}

.all-container{
    margin: auto;
}

.title{
    margin-bottom: 1em;
  }
  

/*
Responsiveness
*/
@media (max-width: 992px) { 
    h5{
        font-size: 1em!important;
    }
 }
 @media (max-width: 575px) { 
    .s-container{
        padding: 1.5em 1em 1.5em 1em;
    }
 }
 .info-text{
    max-width: 640px;
}